$red: #ee4e42;
$green: #63d790;
$blue: #3c98db;

@mixin absoluteCenter() {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body {
    .container {
        position: relative;
        height: 100vh;

        .slider {
            height: 400px;
            width: 100%;
            position: relative;
            overflow: hidden;
            @include absoluteCenter();

            .inner-slider {
                position: absolute;
                width: 100%;

                .slides {
                    overflow: hidden;
                    position: absolute;
                    width: 100%;
                    height: 400px;
                    z-index: 0;
                    h1 {
                        display: flex;
                        font-weight: 700;
                        position: absolute;
                        font-size: 81px;
                        color: white;
                        margin: 0;
                        line-height: 0.79;
                        @include absoluteCenter();
                    }
                }
                
                .active{
                    z-index: 2 !important;
                }
                
            }

            .slide1 {
                background-color: $green;
            }

            .slide2 {
                background-color: $red;
            }

            .slide3 {
                background-color: $blue;
            }            

            button {
                position: absolute;
                top: 50%;
            }

            .next-button {
                right: 0;
                margin-right: 5%;
                z-index: 4;
            }

            .prev-button {
                left: 0;
                margin-left: 5%;
                z-index: 4;
            }
        }
    }
}

